.cover--container{
    height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: black;
    padding-bottom: 30px;
}

.cover--container h1{
    font-family: "Alex Brush", cursive; 
    font-size: 73px;
    margin-bottom: 20px;
}