.cover-container{
    height:  550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../../../public/IMG_0108.JPG);
    background-size: cover;
}

.cover-container h1{
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 75px;
    margin: 100px 0px 40px;
}  

.countdown-container{
    position: absolute;
    transform: translateY(40px);
}   