.tarjeta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #102940;

    & h2{
        margin-top: 50px;
        font-family: "Playfair Display";
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        color:  white;
    }
}
