.countdown--container{
    display: flex;
    background-color: #242424;
    border-radius: 30px;
    width: 95vw;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    color: var(--color-principal)
}
.separador{
    padding: 4px 2px;
    align-self: flex-start;
    color: var(--color-principal)
}

.separador p{
    height: 100%;
}

.time--number{
    font-family: Inter;
    font-weight: bold;
    font-size: 36px;
}

.time--info{
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
}