.countdown-container{
    display: flex;
    justify-content: center;
    background-color: #242424;
    padding: 18px;
    border-radius: 20px;
    margin-bottom: 1;
    
}

.timer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timer-info h3{
    font-size: 30px;
    padding: 0px 15px;
    font-family: "Inter";
}

span{
    font-size: 27px;
}

.timer-info p{
    font-size: 15px;
    padding: 0px 15px;
}